div[class^="MemberList__ListCategory-sc"] {
  font-weight: 600;
  font-size: x-small;
  text-transform: uppercase;
  color: var(--tertiary-foreground);
}

div[class^="SidebarBase__GenericSidebarBase-sc-"] div[class^="_name_"] {
  font-weight: 500 !important;

  >div {
    display: flex;
    align-items: center;
  }
}

// make search bar bigger, if on firefox, needs the :has selector enabled

// the bar for the members list
.jyizw {

  // is not a dms bar
  &:not(:has(.iDeTmr)) {

    // the element with the actual width, :has selects if it's a search bar
    .dUCGFk:has(.gaQhZQ) {
      width: 400px;
    }
  }
}